apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: pingpong
          image: pingpong:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3000"
            - name: COUNTER_FILE
              value: "/usr/src/app/data/counter.txt"
          volumeMounts:
            - name: shared-data
              mountPath: /usr/src/app/data
