apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-images
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: todo-app
          image: todo-app:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8000"
            - name: IMAGE_DIR
              value: "/usr/src/app/images"
          volumeMounts:
            - name: todo-images
              mountPath: /usr/src/app/images
