apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep
spec:
  replicas: 6
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: PROJECT/BROADCASTER
          resources:
            requests:
              cpu: "5m"
              memory: "32Mi"
            limits:
              cpu: "100m"
              memory: "64Mi"
          envFrom:
            - configMapRef:
                name: broadcaster-configmap
          env:
            - name: DISCORD_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: broadcaster-secret
                  key: DISCORD_CHANNEL_ID
            - name: DISCORD_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: broadcaster-secret
                  key: DISCORD_BOT_TOKEN

