apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: project
resources:
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - gateway.yaml
  - httproute.yaml
images:
  - name: PROJECT/TODO_APP
    newName: gcr.io/dwk-gke-482214/todo-app

